<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--<add name="CTEntities" connectionString="metadata=res://*/CalorieTrackerModel.csdl|res://*/CalorieTrackerModel.ssdl|res://*/CalorieTrackerModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mudfoot.doc.stu.mmu.ac.uk;user id=pillarj;password=xtrinkeL9;persistsecurityinfo=True;database=pillarj&quot;" providerName="System.Data.EntityClient" />-->
  <add name="CTEntities" connectionString="metadata=res://*/CTModel.csdl|res://*/CTModel.ssdl|res://*/CTModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mudfoot.doc.stu.mmu.ac.uk;user id=pillarj;password=xtrinkeL9;persistsecurityinfo=True;database=pillarj&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>